name: release
on:
  push:
    branches:
      - "*"
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"
      - "v[0-9]+.[0-9]+.[0-9]+rc[0-9]+"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: benjlevesque/short-sha@v3.0
        id: short-sha
        with:
          length: 8

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push agent
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile.agent
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/machine-config-agent:${{ github.head_ref || github.ref_name }}-${{ steps.short-sha.outputs.sha }}
          platforms: linux/amd64 #,linux/arm64

      - name: Build and push controller
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile.controller
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/machine-config-operator:${{ github.head_ref || github.ref_name }}-${{ steps.short-sha.outputs.sha }}
          platforms: linux/amd64 #,linux/arm64
